option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: manage.py
  aws:elasticbeanstalk:application:environment:
    XIT_ENV: prod
    REDIS_ENDPOINT_ADDRESS: '`{ "Fn::GetAtt": ["MyElastiCache", "RedisEndpoint.Address"]}`'
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "xit/static/"
  aws:elasticbeanstalk:customoption:
    CacheNodeType : cache.t1.micro
    NumCacheNodes : 1
    Engine : redis
    CachePort : 6379