{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}{{ config.SITE_NAME }}{% endblock %}

{% block css %}
<style>
#big-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.form-description {
    margin-bottom: 1em;
}

#halp
{
    margin-top: 4em;
}

footer {
    margin-top: 4em;
}

</style>
{% endblock %}

{% block content %}

<a href="https://github.com/novocaine/xit"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<div class="row"><div id="csv-upload-container" class="col-lg-offset-2 col-lg-8">

<div class="text-center" id="big-header">
    <h3>
        Upload Users &amp; Access Levels
    </h3>

    <p>
      <a data-toggle="modal" href="#helpModal">Not sure what this is?</a>
    </p>
</div>

<div id="front-page">

<form id="csv-upload-form" method="POST" class="form form-horizontal" action="{{ url_for('api.upload_csv', csv_type='users') }}" enctype="multipart/form-data" role="form">
  {{ form.hidden_tag() }}

  {{ wtf.form_errors(form) }}

  <div class="help-block">
    Your
    <a href="https://www.iress.com/global/company/products/xplan/">XPLAN</a>
    site and credentials
  </div>

  {{ wtf.form_field(form.xplan_url, form_type="horizontal") }}

  {{ wtf.form_field(form.xplan_username, form_type="horizontal") }}

  {{ wtf.form_field(form.xplan_password, form_type="horizontal") }}

  <div class="help-block">What sort of data would you like to upload?</div>

  {{ wtf.form_field(form.csv_type, form_type="horizontal") }}

  {{ wtf.form_field(form.file, form_type="horizontal") }}

  <div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <button type="submit" id="csv-upload-submit" class="btn btn-primary">Upload</button>
  </div>
  </div>

</form>

<div id="halp">
<div class="help-block">Trying to get started?</div>
<p>
<a href="#" id="download-access-levels">Download the current Access Levels as a CSV</a>
&ndash; you can edit this and upload it back
</p>
<p>
<a href="/static/users.csv">Download a New Users template</a> &ndash; add your users to this and upload it
</p>
</div>
</div>

</div></div>

{% include 'public/help_modal.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/xit.js') }}"></script>
{% endblock %}
