{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}XIT: XPLAN Implementation Toolkit{% endblock %}

{% block content %}
<h1>CSV Upload</h1>

<div class="row"><div class="col-lg-offset-2 col-lg-8">

<form id="csv-upload-form" method="POST" class="form form-horizontal" action="{{ url_for('upload_csv', csv_type='users') }}" enctype="multipart/form-data" role="form">
  {{ form.hidden_tag() }}
  
  {{ wtf.form_errors(form) }}
  
  {{ wtf.form_field(form.xplan_url, form_type="horizontal") }}
  
  {{ wtf.form_field(form.xplan_username, form_type="horizontal") }}
  
  {{ wtf.form_field(form.xplan_password, form_type="horizontal") }}

  {{ wtf.form_field(form.csv_type, form_type="horizontal") }}
  
  {{ wtf.form_field(form.file, form_type="horizontal") }}

  <div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>
  </div>

</form>

</div></div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/xit.js') }}"></script>
{% endblock %}
